<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <title>抽獎首頁!</title>
</head>

<body>
<div class="main">
    <p class="sign" align="center">抽獎</p>
    <form class="form1" method="get" action="/result">
        <a class="submit" align="center">點我開獎</a>
        <p class="forgot" align="center">點選按鈕立即開獎</p>
    </form>
</div>
</body>

</html>